@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Primary Navigation
============================================= -->
<nav class="primary-menu">

    <ul class="menu-container">
        <li class="menu-item current">
            <a class="menu-link" href="#"><div>Erkek</div></a>
            <ul class="sub-menu-container">
                <li class="menu-item"><a class="menu-link" href="index-portfolio.html"><div>Saat</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-blog.html"><div>Bileklik</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-magazine.html"><div>Yüzük</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-shop.html"><div>Kolye</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-magazine.html"><div>Küpe</div></a></li>
            </ul>
        </li>
        <li class="menu-item current">
            <a class="menu-link" href="#"><div>Kadın</div></a>
            <ul class="sub-menu-container">
                <li class="menu-item"><a class="menu-link" href="index-portfolio.html"><div>Saat</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-magazine.html"><div>Bilezik</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-blog.html"><div>Bileklik</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-shop.html"><div>Kolye</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-magazine.html"><div>Küpe</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-magazine.html"><div>Hızma</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-magazine.html"><div>Pırlanta Yüzük</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-magazine.html"><div>Yüzük</div></a></li>
            </ul>
        </li>
        <li class="menu-item current">
            <a class="menu-link" href="#"><div>Çocuk</div></a>
            <ul class="sub-menu-container">
                <li class="menu-item"><a class="menu-link" href="index-portfolio.html"><div>Saat</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-blog.html"><div>Bileklik</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-shop.html"><div>Kolye</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-magazine.html"><div>Küpe</div></a></li>
            </ul>
        </li>
        <li class="menu-item current">
            <a class="menu-link" href="#"><div>Diğer</div></a>
            <ul class="sub-menu-container">
                <li class="menu-item"><a class="menu-link" href="index-portfolio.html"><div>Fırsat Ürünleri</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-blog.html"><div>Oyuncaklar</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-shop.html"><div>Giyim</div></a></li>
                <li class="menu-item"><a class="menu-link" href="index-magazine.html"><div>Outdoor</div></a></li>
            </ul>
        </li>
    </ul>

</nav><!-- #primary-menu end -->