@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row align-items-stretch gutter-20 min-vh-60">
                <div class="col-md-8">
                    <div class="row align-items-stretch gutter-20 h-100">
                        <div class="col-md-6 min-vh-25 min-vh-md-0">
                            <a href="#" class="grid-inner d-block h-100" style="background-image: url('Assets/images/shop/banners/2.jpg');"></a>
                        </div>

                        <div class="col-md-6 min-vh-25 min-vh-md-0">
                            <a href="#" class="grid-inner d-block h-100" style="background-image: url('Assets/images/shop/banners/8.jpg'); background-position: right center;"></a>
                        </div>

                        <div class="col-md-12 min-vh-25 min-vh-md-0 pb-md-0">
                            <a href="#" class="grid-inner d-block h-100" style="background-image: url('Assets/images/shop/banners/4.jpg');"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 min-vh-50">
                    <a href="#" class="grid-inner d-block h-100" style="background-image: url('Assets/images/shop/banners/9.jpg'); background-position: center top;"></a>
                </div>
            </div>
        </div>
    </div>
</section><!-- #content end -->