@using Shopping.Web.Extensions
@model IEnumerable<PlacedCatalogModel>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Primary Navigation
============================================= -->
<nav class="primary-menu">
    <ul class="menu-container">
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                if (item.CatalogPlace == CatalogPlaceEnum.Header.ToString())
                {
                    <li class="menu-item current">
                        <a class="menu-link" href="@item.CatalogSeoName"><div>@item.CatalogName</div></a>
                        @if (Model.Where(x => x.CatalogPlace == CatalogPlaceEnum.HeaderSub.ToString()).Any(x => x.CatalogParentIndex.Contains(item.CatalogIndex.ToString())))
                        {
                            @foreach (var parentItem in Model.Where(x => x.CatalogPlace == CatalogPlaceEnum.HeaderSub.ToString()))
                            {
                                @if (parentItem.CatalogParentIndex == item.CatalogIndex.ToString())
                                {
                                    <ul class="sub-menu-container">
                                        <li class="menu-item"><a class="menu-link" href="@parentItem.CatalogSeoName"><div>@parentItem.CatalogName</div></a></li>
                                    </ul>
                                }
                            }

                        }
                    </li>
                }
            }
        }

    </ul>

</nav><!-- #primary-menu end -->