@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer id="footer" class="dark">
    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap">

            <div class="row">
                <div class="col-md-6">

                    <div class="widget clearfix">

                        <img src="/Assets/images/logo-diamond.png" alt="Image" class="footer-logo">

                        <p>İnaniyoruz ki <strong>Kalite</strong>, <strong>Güvence</strong> &amp; <strong>Güzellik</strong> ürünlerimizin vazgeçilmezidir.</p>

                        <div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
                            <address>
                                <strong>Firmamız:</strong><br>
                                Piri Mehmet Paşa Mah.,<br>
                                Başkomutan Cd. No:20/A Silivri/İstanbul<br>
                            </address>
                            <abbr title="Telefon"><strong>Telefon:</strong></abbr> (212) 727 36 92<br>
                            <abbr title="Email"><strong>Email:</strong></abbr> info@erenkuyumculuk.com
                        </div>

                    </div>

                </div>

                <div class="col-md-6">

                    <div class="widget widget_links clearfix">

                        <h4>Merak Edilenler</h4>

                        <ul>
                            <li><a href="https://codex.wordpress.org/">Biz Kimiz </a></li>
                            <li><a href="https://wordpress.org/support/forum/requests-and-feedback">Müşterilimizin Görüşleri</a></li>
                            <li><a href="https://wordpress.org/extend/plugins/">Sıkça Sorulan Sorular</a></li>
                            <li><a href="https://wordpress.org/support/">İletişim</a></li>
                        </ul>

                    </div>

                </div>
            </div>

        </div><!-- .footer-widgets-wrap end -->

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container">

            <div class="row">

                <div class="col-md-6 text-center text-md-start">
                    Copyrights &copy; 2020 All Rights Reserved by Eren Technology.<br>
                    <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                </div>

                <div class="col-md-6 text-center text-md-end">
                    <div class="d-flex justify-content-center justify-content-md-end">
                        <a href="#" class="social-icon si-small si-borderless si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-gplus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-pinterest">
                            <i class="icon-pinterest"></i>
                            <i class="icon-pinterest"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-vimeo">
                            <i class="icon-vimeo"></i>
                            <i class="icon-vimeo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-github">
                            <i class="icon-github"></i>
                            <i class="icon-github"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-yahoo">
                            <i class="icon-yahoo"></i>
                            <i class="icon-yahoo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div><!-- #copyrights end -->
</footer><!-- #footer end -->
