@using Shopping.Web.Extensions
@using Microsoft.AspNetCore.Http.Extensions
@using System.Web

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/style.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="/Assets/css/custom.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
    ============================================= -->
    <title>Kategori Deneme</title>
</head>

<body class="stretched">
    @await Html.PartialAsync("~/Views/Home/GetHeader.cshtml")
    @await Html.PartialAsync("~/Views/Home/GetHomeBar.cshtml")
    <!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row gutter-40 col-mb-80">
						<!-- Post Content
						============================================= -->
							<!-- Shop
							============================================= -->
								@RenderBody()
					</div>

				</div>
			</div>
		</section><!-- #content end -->

    @await Html.PartialAsync("~/Views/Home/GetFooter.cshtml")

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- JavaScripts
    ============================================= -->
    <script src="Assets/js/jquery.js"></script>
    <script src="Assets/js/plugins.min.js"></script>

    <!-- Footer Scripts
    =========================================== -->
    <script src="Assets/js/functions.js"></script>

    <!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
    <script src="Assets/include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="Assets/include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="Assets/include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script src="Assets/include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="Assets/include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="Assets/include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="Assets/include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="Assets/include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="Assets/include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="Assets/include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

    <script>

        var tpj=jQuery;
        tpj.noConflict();
        var $ = jQuery.noConflict();

        tpj(document).ready(function() {

            var apiRevoSlider = tpj('#rev_slider_ishop').show().revolution(
            {
                sliderType:"standard",
                jsFileLocation:"/Assets/include/rs-plugin/js/",
                sliderLayout:"fullwidth",
                dottedOverlay:"none",
                delay:9000,
                navigation: {},
                responsiveLevels:[1200,992,768,480,320],
                gridwidth:1140,
                gridheight:500,
                lazyType:"none",
                shadow:0,
                spinner:"off",
                autoHeight:"off",
                disableProgressBar:"on",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                    simplifyAll:"off",
                    disableFocusListener:false,
                },
                navigation: {
                    keyboardNavigation:"off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation:"off",
                    onHoverStop:"off",
                    touch:{
                        touchenabled:"on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    },
                    arrows: {
                        style: "ares",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: false,
                        tmp: '<div class="tp-title-wrap">	<span class="tp-arr-titleholder">{{title}}</span> </div>',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        }
                    }
                }
            });

            apiRevoSlider.on("revolution.slide.onloaded",function (e) {
                SEMICOLON.slider.sliderDimensions();
            });

        }); //ready

    </script>
</body>
</html>