@using Shopping.Web.Extensions
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/style.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/dark.css" type="text/css" />

    <link rel="stylesheet" href="/Assets/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="/Assets/css/custom.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Store Demo Specific Stylesheet -->
    <link rel="stylesheet" href="/Assets/demos/store/css/fonts.css" type="text/css" /> <!-- Store Theme Font -->
    <link rel="stylesheet" href="/Assets/demos/store/store.css" type="text/css" /> <!-- Store Theme Custom CSS -->
    <!-- / -->
    <!-- Document Title
    ============================================= -->
    <title>Store | Canvas</title>

</head>

<body class="stretched modal-subscribe-bottom">
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
    <!-- Content
    ============================================= -->
    @await Html.PartialAsync("~/Views/Home/GetModalHeader.cshtml")
    @await Html.PartialAsync("~/Views/Home/GetHeader.cshtml")
    @await Html.RenderAction("GetHomeSlider","Home")

    @RenderBody()

    @await Html.PartialAsync("~/Views/Home/GetFooter.cshtml")
    </div>
	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

    <!-- JavaScripts
     ============================================= -->
    <script src="/Assets/js/jquery.js"></script>
    <script src="/Assets/js/plugins.min.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="/Assets/js/functions.js"></script>

    <script>
        $(document).ready(changeHeaderColor);
        $(window).on('resize',changeHeaderColor);

        function changeHeaderColor(){
            if (jQuery(window).width() > 991.98) {
                jQuery( "#header" ).hover(
                    function() {
                        if (!$(this).hasClass("sticky-header")) {
                            $( this ).addClass( "hover-light" ).removeClass( "dark" );
                            SEMICOLON.header.logo();
                        }
                        $( "#wrapper" ).addClass( "header-overlay" );
                    }, function() {
                        if (!$(this).hasClass("sticky-header")) {
                            $( this ).removeClass( "hover-light" ).addClass( "dark" );
                            SEMICOLON.header.logo();
                        }
                        $( "#wrapper" ).removeClass( "header-overlay" );
                    }
                );
            }
        };

        $(window).scroll(function() {
            if ($(document).scrollTop() > 2000 && $("#modal-subscribe").attr("displayed") === "false") {
                $('#modal-subscribe').modal('show');
                $("#modal-subscribe").attr("displayed", "true");
            }
        });

        jQuery('#modal-subscribe-form').on( 'formSubmitSuccess', function(){
            $("#modal-subscribe").addClass("fadeOutDown");
            setTimeout(function() { $('#modal-subscribe').modal('hide'); }, 400);
            $("#modal-subscribe").attr("displayed", "false");
        });

    </script>

</body>
</html>